<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ site.title }}</title>
	<!-- Bootstrap -->
	<link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.bootcdn.net/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href="{{ site.fuckurl }}/css/font-awesome.min.css" rel="stylesheet">
	<link href="{{ site.fuckurl }}/css/main.css" rel="stylesheet">
	<link href="{{ site.fuckurl }}/css/syntax.css" rel="stylesheet">
	<script id="MathJax-script"
		src="https://cdn.bootcdn.net/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
</head>

<body>
	{% include navigation.html %}