<aside class="about">
	<h3 class="aside-title">{{ site.description }}</h3>
	<div class="aside-content">
		<div class="col-2">
			<div><a href="{{ site.baseurl }}/about-me/">
					<span><i class="icon-user"></i> About Me </span>
				</a>
			</div>
			<div><a href="{{ site.baseurl }}/about-site/">
					<span><i class="icon-hdd"></i> About Site </span>
				</a>
			</div>
			<div><a href="https://github.com/polossk">
					<span><i class="icon-github"></i> polossk </span>
				</a>
			</div>
			<div><a href="{{ "/feed.xml" | prepend: site.baseurl }}">
					<span><i class="icon-rss"></i> RSS Feed </span>
				</a>
			</div>
			<div><a href="{{ site.baseurl }}/category/">
					<span><i class="icon-folder-open"></i> Categories</span>
				</a>
			</div>
			<div><a href="{{ site.baseurl }}/tag/">
					<span><i class="icon-tags"></i> Tags </span>
				</a>
			</div>
			<div><a href="{{ "/post-archive/" | prepend: site.baseurl }}">
					<span><i class="icon-archive"></i> Archive </span>
				</a>
			</div>
			<div><a href="{{ "/sitemap.xml" | prepend: site.baseurl }}">
					<span><i class="icon-sitemap"></i> Sitemap </span>
				</a>
			</div>
		</div>
	</div>
</aside>

<aside class="subscribe">
	<div class="aside-content">
		<div class="github-card" data-github="polossk" data-height="150" data-theme="default"></div>
		<script src="https://polossk.gitlab.io/widgets/github-cards/widget.js"></script>
	</div>
</aside>

<aside class="subscribe">
	<div class="aside-content">
		<div class="zhihu-card" data-userhash="shen-shang-kun" data-key1="agree" data-key2="thanks" data-key3="follower"
			data-theme="github"></div>
		<script src="https://polossk.gitlab.io/widgets/zhihu-card/widget.js"></script>
	</div>
</aside>

<!-- <aside class="subscribe">
	<div class="aside-content">
		<a href="http://info.flagcounter.com/Fg51">
			<img src="http://s01.flagcounter.com/count2/Fg51/bg_FFFFFF/txt_000000/border_CCCCCC/columns_3/maxflags_12/viewers_0/labels_1/pageviews_1/flags_0/percent_0/"
				alt="Flag Counter" border="0" width="100%">
		</a>
	</div>
</aside> -->

<aside class="subscribe">
	<h3 class="aside-title">Blogroll</h3>
	<div class="aside-content">
		{% tomodachi %}
	</div>
</aside>

<aside class="subscribe">
	<h3 class="aside-title">Categories</h3>
	<div class="aside-content">
		{% categories_list %}
	</div>
</aside>

<aside class="subscribe">
	<h3 class="aside-title">Time Line</h3>
	<div class="aside-content">
		{% time_line %}
	</div>
</aside>

<aside class="subscribe">
	<h3 class="aside-title">Tags</h3>
	<div id="aside-content">
		{% tags_list %}
	</div>
</aside>