<aside class="about">
	<h3 class="aside-title">关于</h3>
	<div class="aside-content">
		<p>{{ site.description }}</p>
	</div>
</aside>

<aside class="subscribe">
	<div class="aside-content">
		<p>
			<a href="{{ site.baseurl }}/about-me/">
				<span><i class="icon-user"></i> About Me </span>
			</a>
		</p>
		<p>
			<a href="{{ site.baseurl }}/about-site/">
				<span><i class="icon-hdd"></i> About Site </span>
			</a>
		</p>
		<p>
			<a href="{{ "/feed.xml" | prepend: site.baseurl }}">
				<span><i class="icon-rss"></i> 文章RSS </span>
			</a>
		</p>
		<p>
			<a href="https://github.com/polossk">
				<span><i class="icon-github"></i> polossk </span>
			</a>
		</p>
		<p>
			<a href="{{ "/sitemap.xml" | prepend: site.baseurl }}">
				<span><i class="icon-sitemap"></i> Sitemap </span>
			</a>
			<a href="{{ "/post-archive/" | prepend: site.baseurl }}">
				<span><i class="icon-archive"></i> Post Archive </span>
			</a>
		</p>
		<p>
			<a href="{{ site.baseurl }}/category/">
				<span><i class="icon-folder-open"></i> categories</span>
			</a> and
			<a href="{{ site.baseurl }}/tag/">
				<span><i class="icon-tags"></i> tags </span>
			</a>
		</p>
	</div>
</aside>

<aside class="subscribe">
	<div class="aside-content">
		<div class="github-card" data-github="polossk" data-height="150" data-theme="default"></div>
		<script src="http://blog.polossk.com/widgets/github-cards/widget.js"></script>
	</div>
</aside>

<aside class="subscribe">
	<div class="aside-content">
		<div class="zhihu-card" data-userhash="shen-shang-kun" data-key1="agree" data-key2="thanks" data-key3="follower" data-theme="github"></div>
		<script src="https://laike9m.github.io/zhihu-card/dist/widget.js"></script>
	</div>
</aside>

<aside class="subscribe">
	<div class="aside-content">
		<a href="http://info.flagcounter.com/Fg51">
			<img src="http://s01.flagcounter.com/count2/Fg51/bg_FFFFFF/txt_000000/border_CCCCCC/columns_3/maxflags_12/viewers_0/labels_1/pageviews_1/flags_0/percent_0/"
			 alt="Flag Counter" border="0" width="100%">
		</a>
	</div>
</aside>

<aside class="subscribe">
	<h3 class="aside-title">Blogroll</h3>
	<div class="aside-content">
		{% tomodachi %}
	</div>
</aside>

<aside class="subscribe">
	<h3 class="aside-title">Categories</h3>
	<div class="aside-content">
		{% categories_list %}
	</div>
</aside>

<aside class="subscribe">
	<h3 class="aside-title">Time Line</h3>
	<div class="aside-content">
		{% time_line %}
	</div>
</aside>

<aside class="subscribe">
	<h3 class="aside-title">Tags</h3>
	<div id="aside-content">
		{% tags_list %}
	</div>
</aside>